html {
	background-color: #181825;
	width: 100%;
	min-height: 100%;
}

* {
	font-family: monospace;
}

.node {
	background-color: #7a7abd;
}

.node-visited {
	background-color: #5994d4;
	animation: ease-out 0.5s node-visited-animation alternate;
}

.node-visited-unanimated {
	background-color: #5994d4;
}

.node-shortest-path {
	background-color: #f0e130;
}

.node-weighted {
	background-color: #5c717a !important;
	animation: ease-out 0.5s node-obstacle-animation alternate;
}

.node-weighted.node-shortest-path {
	background-color: #ebaf78 !important;
}

.node-start {
	background-color: #c3e378 !important;
}

.node-end {
	background-color: #f08080 !important;
}

.node-obstacle {
	background-color: #cdd6f4 !important;
	animation: ease-out 0.5s node-obstacle-animation alternate;
}

@keyframes node-visited-animation {
	0% {
		background-color: #5994d4;
		transform: scale(0.3);
	}
	50% {
		background-color: #7aadbd;
		transform: scale(1.1);
	}
	100% {
		background-color: #5994d4;
		transform: scale(1);
	}
}

@keyframes node-obstacle-animation {
	0% {
		transform: scale(0.3);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
	width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
	background-color: #262626; /* Track color */
}

::-webkit-scrollbar-thumb {
	background-color: #606097; /* Thumb color */
	border-radius: 6px; /* Optional: Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
	background-color: #3d3d3d; /* Optional: Darker color on hover */
}

/* For Firefox (scrollbars are slightly different here) */
* {
	scrollbar-width: thin;
	scrollbar-color: #606097 #262626;
}

/* For Internet Explorer and Edge (using scrollbar pseudo-element) */
html {
	scrollbar-face-color: #606097;
	scrollbar-track-color: #262626;
}
